REACT_APP_API_BASE_URL=https://your-backend.example.com/api/v1/
REACT_APP_AUTH_URL=https://your-backend.example.com/api/auth
REACT_APP_USERS_URL=https://your-backend.example.com/api/users
REACT_APP_SMTP_TOKEN=your-smtpjs-secure-token
REACT_APP_SMTP_FROM=alerts@example.com
